body{
  text-align: center;
  font-family: sans-serif;
}
#header{
  background-color: lightblue;
}
#header_left{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#header_right{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
h2{
  color: blue;
  display: inline-block;
  vertical-align: top;
  margin: 0 70px 0 0;
  padding: 0;
  width: 870px;
}
a{
  font-size: 9pt;
}
p{
  margin: 0;
  padding: 0;
}
#header_right p, #header_right p{
  font-size: 10pt;
}
